<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--加载env.properties文件-->
    <context:property-placeholder location="classpath:env.properties" />

    <!--开启注解扫描-->
    <context:component-scan base-package="com.qf.controller,com.qf.util,com.qf.handler" />
    <!--mvc注解驱动-->
    <mvc:annotation-driven />
    <!--视图解析器
            /WEB-INF/jsp/user/register.jsp
    -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/" />
        <property name="suffix" value=".jsp" />
    </bean>

    <!--基于tomcat对静态资源放行-->
    <!-- 基于服务器的方式 -->
    <mvc:default-servlet-handler />

    <!--基于springmvc手动放行-->
<!--    <mvc:resources mapping="/static/**" location="/static/" />-->



<!--    配置文件上传项-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
<!--        <property name="maxUploadSize" value="5242880" />-->
    </bean>


<!--    拦截器 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**" />
            <mvc:exclude-mapping path="/user/**"/>
<!--            <mvc:exclude-mapping path="/static/**"/>-->
            <bean class="com.qf.interceptor.AuthenticationInterceptor" />
        </mvc:interceptor>
    </mvc:interceptors>



</beans>